*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
img{
    max-width: 100%;
    height: auto;
}
.title{
    background-color: #707070;
    color: #5ab3d3;
    font-size: 30px;
    line-height: 1.5;
    padding: 30px 20px;
    text-align: center;
}
.item{
    float: left;
    width: 100%;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px #aaaaaa;
    margin: 15px 0;
}
.item .product-name{
    font-size: 16px;
    font-weight: 400;
}
.item .price{
    font-size: 16px;
}
.item .add-to-cart{
    float: left;
    width: 100%;
    background-color: #cccccc;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding: 10px 0;
    transition: background-color 300ms;
}
.item .add-to-cart:hover{
    background-color: #baadad;
}
